/* all app scss styles here */

.top-bar {
    position: relative;
    z-index: 999;
}

.main {
    margin-top: 3em;
}

.help-section {
	margin-top: 3em;
}

//for accordian 
.bold-plus {
	font-weight: bold;
	font-family: "entypo";
	content: "+ ";
	padding-right: 10px;
	top: -2px;
	font-size: 1.2em;
	position: relative;
}

.sidebar {
    background: #F3F5F5;
    top: 0px;
    left: 0px;
    height: 100%;
    position: fixed;
    padding: 80px 10px 10px 10px;
    z-index: 100;
    overflow: auto;
}

/* ==================================================
    TOC PLUGIN
================================================== */

#toc {
    //top: 65px;
    //left: 0px;
    //height: 100%;
    //position: fixed;
    //background: #333;
    //box-shadow: inset -5px 0 5px 0px #000;
    //width: 150px;
    //padding-top: 20px;
    //color: #fff;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {
    color: #444;
    text-decoration: none;
    display: block;
}

#toc .h1 {
	background: #E6E6E6;

    a {
		font-size: 1.2em;
		font-weight: bold;
	}
	


}


#toc .h2 {
    padding-left: 10px;

    a {
		font-size: 1em;
	}
	


}

#toc .h3 {
    padding-left: 20px;
    
    a {
		font-size: 0.8em;
		opacity: 0.5;
	}
}

#toc .toc-active {
    background: #EFD915;
    opacity: 0.8;
    //box-shadow: inset -5px 0px 10px -5px #000;
}