
<body>
  <nav data-topbar="data-topbar" class="top-bar docs-bar hide-for-small">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/"><img class="logo-img" alt="Msb logo msb logo horizontal blue bg" src="http://staging.myskybridge.com/assets/msb/msb-logo_msb logo horizontal blue-bg-50f144e89f5a3f4ca94ef0901d2eeb6b.svg" style="margin-left:-5px;margin:10px;" width="350"></a></h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li class="divider"></li>
        <li>
           
          <a href="/">Getting Started</a>
        </li>
        <li class="divider"></li>
        <li>
           
          <a href="/docs.html">User Manual</a>
        </li>
        <li class="divider"></li>
        <li> <a href="#" data-reveal-id="support-ticket-modal">Get Help
            <div id="support-ticket-modal" data-reveal="data-reveal" class="reveal-modal">
              <h2>Support Ticket</h2>
              <p class="lead">Please fill out the information and we will get back to you shortly.
                <form>
                  <div class="row">
                    <div class="large-12 columns">
                      <label>Input Label
                        <input type="text" placeholder="large-12.columns"/>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-4 columns">
                      <label>Name 
                        <input type="text" placeholder="large-4.columns"/>
                      </label>
                    </div>
                    <div class="large-4 columns">
                      <label>Email
                        <input type="text" placeholder="large-4.columns"/>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns">
                      <label>Select Box
                        <select>
                          <option value="husker">Husker</option>
                          <option value="starbuck">Starbuck</option>
                          <option value="hotdog">Hot Dog</option>
                          <option value="apollo">Apollo</option>
                        </select>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-6 columns">
                      <label>Choose Your Favorite</label>
                      <input id="pokemonRed" type="radio" name="pokemon" value="Red"/>
                      <label for="pokemonRed">Red</label>
                      <input id="pokemonBlue" type="radio" name="pokemon" value="Blue"/>
                      <label for="pokemonBlue">Blue</label>
                    </div>
                    <div class="large-6 columns">
                      <label>Check these out</label>
                      <input id="checkbox1" type="checkbox"/>
                      <label for="checkbox1">Checkbox 1</label>
                      <input id="checkbox2" type="checkbox"/>
                      <label for="checkbox2">Checkbox 2</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns">
                      <label>Textarea Label
                        <textarea placeholder="small-12.columns"></textarea>
                      </label>
                    </div>
                  </div>
                  <input type="submit" name="submit" class="button large rounded warning"/>
                </form>
              </p><a class="close-reveal-modal">×</a>
            </div></a></li>
      </ul>
    </section>
  </nav>
</body>