
<div id="support-ticket-modal" class="reveal-modal"><div id="wufoo-z1qef07c0b6frxf">
  <Fill>out my <a href="https://xdlab.wufoo.com/forms/z1qef07c0b6frxf">online form</a>.</Fill></div>
  <script type="text/javascript">var z1qef07c0b6frxf;(function(d, t) {
  <var>s = d.createElement(t), options = {</var>'userName':'xdlab',
  'formHash':'z1qef07c0b6frxf',
  'autoResize':true,
  'height':'637',
  'async':true,
  'host':'wufoo.com',
  'header':'show',
  'ssl':true};
  <s class="src">= ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';</s>
  <s class="onload">= s.onreadystatechange = function() {</s>
  <var>rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;</var>
  <try>{ z1qef07c0b6frxf = new WufooForm();z1qef07c0b6frxf.initialize(options);z1qef07c0b6frxf.display(); } catch (e) {}};</try>
  <var>scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);</var>})(document, 'script');</script>
</div>